{## Start with defaults from defaults.yaml ##}
{% import_yaml 'dnsmasq/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
      'packages': ['dnsmasq'],
      'pxe_packages': ['syslinux', 'syslinux-efi', 'pxelinux', 'memtest86+'],
      'service': 'dnsmasq',
      'default_file': '/etc/default/dnsmasq',
      'conf_file': '/etc/dnsmasq.conf',
      'conf_dir': '/etc/dnsmasq.d',
      'hosts_file': '/etc/dnsmasq.hosts',
      'cnames_file': '/etc/dnsmasq.d/cnames.conf',
    },
    'RedHat': {
      'packages': ['dnsmasq'],
      'pxe_packages': ['syslinux'],
      'service': 'dnsmasq',
      'default_file': '/etc/default/dnsmasq',
      'conf_file': '/etc/dnsmasq.conf',
      'conf_dir': '/etc/dnsmasq.d',
      'hosts_file': '/etc/dnsmasq.hosts',
      'cnames_file': '/etc/dnsmasq.d/cnames.conf',
    },
}, grain='os_family', merge=salt['pillar.get']('dnsmasq:lookup'), default='Debian') %}


## Merge the flavor_map to the default settings ##}
{% do default_settings.dnsmasq.update(os_family_map) %}

{## Merge in dnsmasq:lookup pillar ##}
{% set dnsmasq = salt['pillar.get'](
        'dnsmasq',
        default=default_settings.dnsmasq,
        merge=True
    )
%}