{% set dnsmasq = salt['grains.filter_by']({
    'Debian': {
      'packages': ['dnsmasq'],
      'service': 'dnsmasq',
      'dnsmasq_conf': '/etc/dnsmasq.conf',
      'dnsmasq_conf_dir': '/etc/dnsmasq.d',
      'dnsmasq_hosts': '/etc/dnsmasq.hosts',
      'dnsmasq_cnames': '/etc/dnsmasq.d/cnames.conf',
    },
    'RedHat': {
      'packages': ['dnsmasq'],
      'service': 'dnsmasq',
      'dnsmasq_conf': '/etc/dnsmasq.conf',
      'dnsmasq_conf_dir': '/etc/dnsmasq.d',
      'dnsmasq_hosts': '/etc/dnsmasq.hosts',
      'dnsmasq_cnames': '/etc/dnsmasq.d/cnames.conf',
    },
    'Arch': {
      'packages': ['dnsmasq'],
      'service': 'dnsmasq',
      'dnsmasq_conf': '/etc/dnsmasq.conf',
      'dnsmasq_conf_dir': '/etc/dnsmasq.d',
      'dnsmasq_hosts': '/etc/dnsmasq.hosts',
      'dnsmasq_cnames': '/etc/dnsmasq.d/cnames.conf',
    },
}, grain='os_family', merge=salt['pillar.get']('dnsmasq:lookup'), default='Debian') %}
